SUBSYSTEM=="hidraw" \
, ATTRS{idVendor}=="8089" \
, GROUP="input" \
, MODE="0660"

SUBSYSTEM=="usb" \
, ATTRS{idVendor}=="8089" \
, GROUP="input" \
, MODE="0660"
